body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
ul,
blockquote,
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}
img[src$=".jpg"] {
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: inherit;
}
